.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #FFF;  
}

.container-about{
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #FFF;
  display: flex;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 0 0 18px 18px;  
  
}

.header-button{
  
  padding-right: 50px;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  color: black;
  transition: border 0.3s;
  border-radius: 0 18px;
  border: 5px solid transparent;
}

.header-button:hover{
  border: 5px solid transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
}





.logo{
  width: 65px;
  height: 65px;
  margin-left: 35px;
  position: relative;
}

.about{
  
  
  padding: 3%;
  width: 50%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFF;
  border-radius: 8px;
  border: 5px solid transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  
}

@media screen and (max-width: 768px){

  .container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: #FFF;  
  }
    .about{
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 8px;
      border: 5px solid transparent;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          
    }

    .imagem01{
      width: 150%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }

    .container{
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      
     }

    .header-button{
      
      flex-direction: column;
      align-items: baseline;
      justify-content: space-between;
      font-size: 12px;

      
    }

    .header-button:hover{
      border: 5px solid transparent;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
      transform: scale(1.06);
    }

    .header{
      display: flex;
      position: relative;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      
    }

    .computing01{
      width: 150%;
      position: relative;
      
    }
   
    
    
}

.computing01{
  width: 30%;
  position: relative;
}

.computing01 img{
  position: absolute;
  top: 0;
  left: 0;
}

.imagem01{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.projetos{
  
  display: flex;
  width: 90vw;
  height: 50vh;
  margin: 50px 50px 300px 50px;
  padding: 5px 5px;
  position: relative;
  flex-direction: row;
  justify-content: center;    
  background-color: #FFF; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  grid-gap: 10px; 
  
}

@media screen and (max-width: 768px){
    .projetos{
      width: 50%;
      display: grid;
      justify-content: center;
      flex-direction: column;
      margin-top: 30px;
    }

    .header{
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    
}

.projeto01{
  border-radius: 8px;
  max-width: 300px;
  text-align: center;
  border: 5px solid transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  
  
  
  
}



::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #555;
}

.button-barber{
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  border: 5px;
}

.button-barber-github{
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  border: 5px;
}

.button-barber:hover{
  border: 0 solid transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button-barber-github:hover{
  border: 0 solid transparent;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.container-footer{
  position: relative;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px 8px 0 0;
  gap: 14px;
  margin: 0;
  margin-top: 35px;
 
}

.footer-contact{
  margin-top: 15px;
}

.footer-text{
  margin-bottom: 15px;
}

.logo-footer{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 15px;
}

.footer-button{
  margin-right: 18px;
  
}

.FaWhatsapp:hover{
  border: 5px solid transparent;
  color: #f1f1f1;
  background-color: #f1f1f1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  transform: scale(2.01);
}

.FaGithub:hover{
  border: 5px solid transparent;
  color: #f1f1f1;
  background-color: #f1f1f1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  transform: scale(2.01);
}

.FaLinkedin:hover{
  border: 5px solid transparent;
  color: #f1f1f1;
  background-color: #f1f1f1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  transform: scale(2.01);
}

@media screen and (max-width: 768px){
  
  .container-footer{
      position: relative;
      width: 100%;
      bottom: 0;
      left: 0;
      margin-top: 530px;
      
    }

    

}





